.main-header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #00a5c2;
  background-image: url("https://www.transparenttextures.com/patterns/ice-age.png");
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4056A1;
  font-family: 'Bungee', cursive;
  font-size: 18px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 180px;
  padding-top: 2px;
}

@media only screen and (min-width: 768px) {
  .main-header {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    width: 30%;
    margin-top: 50px;
    height: 260px;
  }

  .name {
    font-size: 12px;
  }
}
