.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.tweet-container {
  display:flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.6em;
}

button {
  display: flex;
  cursor: pointer;
  color: #FFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  font-size: 16px;
  border: none;
  align-items: center;
}

button:hover {background-color: #5a72c2}

button:active {
  background-color: #5a72c2;
  transform: translateY(4px);
}

output {
  display: flex;
  font-family: 'Bungee', cursive;
  font-size: 20px;
}

textarea {
  border: none;
  width: 100%;
  border-bottom: 4px solid black;
  background-color: transparent;
  resize: none;
  outline: none;
}

output {
  font-size: 24px;
  color: black;
}

.error-message {
  display: flex;
  border: 2px dashed #5a72c2;
  color: #d01a1a;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #a7b3dc;
  resize: none;
  outline: none;
  height: 54px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 29px;
  font-size: 1.2rem;
}

.error-message:empty {
  grid-area: error-message;
  display: none;
}